{% extends 'base.html' %}
{% load static %}


{% block title %}<title>JS-1-WEBYK-DZ</title>{% endblock title %}
{% block content %}

    <div class="im">lees JS-1-WEBYK-dz </div>
        1 <div id="array"></div>
        2 <div id="array1"></div>
        3 <div id="array2"></div>
        4 <div id="array3"></div>
        5 <div id="array4"></div>
        5 <div id="array5"></div>
        6 <div id="array6"></div>
        7 <div id="array7"></div>
{% endblock %}

{% block js %}<script type="text/javascript" src="{% static "less1/js/lessdz1.js" %}"></script>
{% endblock js %}