/*modal*/
.myModal{
    background: gray;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    display: none;
}
/*Class open close modal*/
.visible{
    display: block;
}

/* Modal Content */
.modalContent{
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    text-align: center;

}
/*close modal*/
#close{
    color: white;
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

#summ{
    padding-left: 50px;
}

.myCart{
    overflow-y: scroll;
    height: 50px;
}