/*modal*/
.myModal{
    background: lightgrey;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    display: none;
    padding-bottom: 50px;
}
/*Class open close modal*/
.visible{
    display: block;
}

/* Modal Content */
.modalContent{
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    text-align: center;

}
/*close modal*/
#close{
    color: white;
    float: right;
    cursor: pointer;
    margin-right: 8px;
    margin-top: -95px;
}

#summ{
    padding-left: 50px;
}

.myCart{
    overflow-y: scroll;
    height: 80px;
}

.myCart-input input{
    width: 50%;
    height: 39px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    padding-left: 15px;


}