{% extends 'base.html' %}
{% load static %}

{% block title %}<title>JS-4-DZ-WEBYK</title>{% endblock title %}
{% block content %}

    <div class="im">lees JS-4-DZ-WEBYK </div>
    <div></div>
    <div>Удалить из корзины товар</div>
    <div>При нажатии на плюс меняем кол во товаров</div>
    <div>Увеличиваем</div>
    <div>При минусе - также ищем кол~во товаров уменьшаем</div>


    <button onclick="modalShowdz()">Вызвать модалку</button>
    <div>phone 7 500$
        <button onclick="openModaldz('iphone 7', 500, this)">купить</button>
    </div>
    <div>phone 8 600$
        <button onclick="openModaldz('iphone 8', 600, this)">купить</button>
    </div>
    <div>phone 9 700$
        <button onclick="openModaldz('iphone 9', 700, this)">купить</button>
    </div>
    <div class="myModal">
    <div id="close" onclick="closeModaldz()">x</div>
        <div class="myCart" >

        </div>
        <div class="modalContent">
            Вы купили эти товары
        </div>

    </div>

{% endblock %}
{% block js %}<script type="text/javascript" src="{% static "less4/js/lessdz4.js" %}"></script>{% endblock js %}