{% extends 'base.html' %}
{% load static %}

{% block title %}<title>JS-5-WEBYK</title>{% endblock title %}
{% block css %}<link type="text/css" rel="stylesheet" href="{% static "less5/css/less5.css" %}">{% endblock css %}
{% block content %}

    <div class="im">lees JS-5-WEBYK </div>
    <div></div>

    <button onclick="modalShow()">Вызвать модалку</button>

    <div>phone1 7500
        <button class="bay" onclick="openModal('iphone 7x', 7500, this, 0)">купить</button>
    </div>
    <div>phone2 8600
        <button class="bay" onclick="openModal('iphone 8x', 8600, this, 1)">купить</button>
    </div>
    <div>phone3 9700
        <button class="bay" onclick="openModal('iphone 9x', 9700, this, 2)">купить</button>
    </div>
    <div>phone4 9700
        <button class="bay" onclick="openModal('iphone 9x', 9700, this, 3)">купить</button>
    </div>
    <div>phone5 9700
        <button class="bay" onclick="openModal('iphone 9x', 9700, this, 4)">купить</button>
    </div>
    <div class="myModal">
        <div class="modalContent">
            Вы купили эти товары
        </div>
        <div id="close" onclick="closeModal()">x</div>
        <div class="myCart">

        </div>

        <div id="summ">

        </div>
        <div class="myCart-input">
            <input type="text" value="" placeholder="Фамилия, имя, отчество *">

            <input type="text" value="" placeholder="Телефон (например для РФ: +7 xxx xxx xx xx) *">

            <input type="text" value="" placeholder="Электронная почта *">
        </div>
    </div>

{% endblock %}
{% block js %}<script type="text/javascript" src="{% static "less5/js/less5.js" %}"></script>{% endblock js %}