{% extends 'base.html' %}
{% load static %}

{% block title %}<title>JS-5-WEBYK</title>{% endblock title %}
{% block content %}

    <div class="im">lees JS-5-WEBYK </div>
    <div></div>

    <button onclick="modalShow()">Вызвать модалку</button>
    <div>phone1 7500
        <button onclick="openModal('iphone 7x', 7500, this)">купить</button>
    </div>
    <div>phone2 8600
        <button onclick="openModal('iphone 8x', 8600, this)">купить</button>
    </div>
    <div>phone3 9700
        <button onclick="openModal('iphone 9x', 9700, this)">купить</button>
    </div>
    <div>phone4 9700
        <button onclick="openModal('iphone 9x', 9700, this)">купить</button>
    </div>
    <div>phone5 9700
        <button onclick="openModal('iphone 9x', 9700, this)">купить</button>
    </div>
    <div class="myModal">
        <div id="close" onclick="closeModal()">x</div>
        <div class="myCart">

        </div>
        <div class="modalContent">
            Вы купили эти товары
        </div>
        <div id="summ">

        </div>
    </div>

{% endblock %}
{% block js %}<script type="text/javascript" src="{% static "less5/js/less5.js" %}"></script>{% endblock js %}