{% extends 'base.html' %}
{% load static %}

{% block title %}<title>JS-2-DZ-WEBYK</title>{% endblock title %}
{% block css %}<link type="text/css" rel="stylesheet" href="{% static "less2/css/less2.css" %}">{% endblock css %}

{% block content %}


    <div class="im">lees JS-2-DZ-WEBYK </div>

    <button onclick="openModal()">Вызвать модалку</button>
    <div class="myModal">
    <div id="close" onclick="closeModal()">x</div>
        <div class="modalContent">
            Привет! Это модальное окно!!!
        </div>

    </div>

{% endblock %}
{% block js %}<script type="text/javascript" src="{% static "less2/js/lessdz2.js" %}"></script>{% endblock js %}