{% extends 'base.html' %}
{% load static %}

{% block title %}<title>JS-3-DZ-WEBYK</title>{% endblock title %}
{% block css %}<link type="text/css" rel="stylesheet" href="{% static "less3/css/less3.css" %}">{% endblock css %}

{% block content %}


    <div class="im">lees JS-3-DZ-WEBYK </div>
<div>Сделать по клику передачу назв товара и цену</div>
    <div>В функции поймать все это</div>
    <div>И вывести в модалку</div>
    <div>Важно чтобы при добавлении каждого товара в модалке они ввводились друг под другом</div>
    <button onclick="modalShow()">Вызвать модалку</button>
    <div>phone 7 500$
        <button onclick="openModal('iphone 7', 500)">купить</button>
    </div>
    <div>phone 8 600$
        <button onclick="openModal('iphone 8', 600)">купить</button>
    </div>
    <div>phone 9 700$
        <button onclick="openModal('iphone 9', 700)">купить</button>
    </div>
    <div class="myModal">
    <div id="close" onclick="closeModal()">x</div>
        <div class="myCart" >

        </div>
        <div class="modalContent">
            Вы купили эти товары
        </div>

    </div>

{% endblock %}
{% block js %}<script type="text/javascript" src="{% static "less3/js/lessdz3.js" %}"></script>{% endblock js %}